<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="DynamicImage" version="3.1.1" targetFramework="net45" />
  <package id="Grasshopper" version="6.18.19266.14201" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="RhinoCommon" version="6.18.19266.14201" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.2" targetFramework="net45" />
</packages>